*,
*:before
*:after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body,
input,
button,
textarea,
select {
  outline: none;
  font-size: 12ox;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}

input {
  line-height: normal;
}

button{
  cursor: pointer;
}

body {
  padding: 20px;
}

.image {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}